body {
    margin: 50;
    margin-top: 20;
    background-color:  lightgray;
}
.video-js {
    display: block;
    height: auto;
    width: 100%;
}
.image-js {
    display: block;
    height: auto;
    width: 100%;
}
.post {
    background-color: white;
    border-radius: 20px;
    margin-top: 20;
}
.video-container {
    padding: 20;
    padding-bottom: 0;
    position: relative;
}
.image-container {
    padding: 20;
    padding-bottom: 0;
}
.feed {
    display: block;
    margin: auto;
    width: 50%;
    height: 100%;
}
@media (max-width: 1200px) {
    .feed {
        width: 90%;
    }
}
@font-face {
    font-family: 'HeroHeroBold';
    src: url('https://herohero.co/public/fonts/Silka-Bold.woff2') format('woff2')
}
@font-face {
    font-family: 'HeroHeroMedium';
    src: url('https://herohero.co/public/fonts/Silka-Medium.woff2') format('woff2')
}
.post h1 {
    font-family: HeroHeroMedium;
    font-size: small;
    color: #424242;
    padding-top: 0;
    padding-left: 40;
    padding-right: 40;
    padding-bottom: 0;
}
.post p {
    font-family: HeroHeroMedium;
    font-size: small;
    color: #969696;
    text-align: left;
    padding-left: 40;
    padding-bottom: 20;
}
